<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link href="login.css" rel="stylesheet" type="text/css" />
    <title>Tyniurl</title>
</head>
<body>
    <a href = "/login/auth/google" >
        <div id="googleButton">
        
          <span class="icon"></span>
          <span class="text">Log In With Google</span>
        </div>
    </a>
</body>
</html>