<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/login/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login/css/style.css">

    <title>Tyniurl</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/login/images/undraw_link_shortener_mvf6.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3 id="form-title">Sign In</h3>
                            </div>
                            <!-- Login Form -->
                            <form id="login-form" action="#" method="post">
                                <!-- Login Form Fields -->
                                <div class="form-group first">
                                    <label for="username">Username / Email</label>
                                    <input type="text" class="form-control" id="username">
                                </div>
                                <div class="form-group last mb-4 inputBox">
                                    <label for="password">Password</label>
                                    <div class="password-container">
                                        <input type="password" class="form-control" id="password">
                                        <img src="/login/images/eyeClose.png" alt="" id="eyeicon1">
                                    </div>
                                </div>
                                <!-- Hidden input for form type -->
                                <input type="hidden" name="formType" value="login">
                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                                        <input type="checkbox" checked="checked"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto forgot-pass"><a href="#" class="forgot-pass">Forgot Password</a></span> 
                                </div>
                                <input type="submit" value="Log In" class="btn btn-block btn-primary">
                            </form>

                            <!-- Signup Form -->
                            <form id="signup-form" action="#" method="post" style="display: none;">
                                <!-- Signup Form Fields -->
                                <div class="form-group first">
                                    <label for="signup-username">Username</label>
                                    <input type="text" class="form-control" id="signup-username">
                                </div>
                                <div class="form-group ">
                                    <label for="signup-username">Email</label>
                                    <input type="text" class="form-control" id="signup-username">
                                </div>
                                <div class="form-group last mb-4 inputBox">
                                    <label for="password">Password</label>
                                    <div class="password-container">
                                        <input type="password" class="form-control" id="password">
                                        <img src="/login/images/eyeClose.png" alt="" id="eyeicon2">
                                    </div>
                                </div>
                                <!-- Hidden input for form type -->
                                <input type="hidden" name="formType" value="signup">
                                <input type="submit" value="Sign Up" class="btn btn-block btn-primary">
                            </form>

                            <div class="d-flex justify-content-center mb-3">
                                <button type="button" class="btn btn-link" onclick="toggleForm()">Return to Sign Up</button>
                            </div>
                            <div class="mt-4 text-center">
                                <div class="social-login">
                                    <a href="#" class="github">
                                      <span class="icon-github mr-3"></span> 
                                    </a>
                                    <a href="/login/google/callback" class="google">
                                      <span class="icon-google mr-3"></span> 
                                    </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/login/js/jquery-3.3.1.min.js"></script>
    <script src="/login/js/popper.min.js"></script>
    <script src="/login/js/bootstrap.min.js"></script>
    <script src="/login/js/main.js"></script>
</body>
</html>

